.card {
  border-radius: 3px;
  max-width: 300px;
  min-width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-width: 1px;
  display: inline-flex;
  height: 355px; }

.card-title {
  font-size: 20px;
  text-align: left;
  padding-left: 10px; }

.card-content {
  padding-bottom: 10px;
  padding-top: 10px; }

.card-body-content {
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
  padding-left: 10px;
  padding-right: 10px; }

.card-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  height: 240px;
  object-fit: cover;
  width: 100%; }

.card-vertical-image {
  overflow-y: hidden; }
