.card {
  border-radius: 3px;
  max-width: 300px;
  min-width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-width: 1px;
  flex-direction: column;
  position: relative;
  text-align: center;
}
.card-title {
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
}
.card-content {
  padding-bottom: 10px;
  padding-top: 10px;
}
.card-body-content {
  color: rgba(0,0,0,.54);
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.card-image {
  display: block;
  height: 240px;
  object-fit: cover;
  width: 100%;
}
.card-vertical-image {
  flex-basis: 10rem;
  overflow-y: hidden;
  position: relative;
}