.header-cont {
  background-color: rgb(40, 44, 52);
}
.nav-cont {
  height: 46px;
  display: table;
}
.nav-logo {
  animation: nav-logo-spin infinite 20s linear;
  width: 40px;
  height: 40px;
}
.navbar-brandz {
  color: white;
  font-size: 32px;
  text-decoration: none;
  display: table-cell;
  vertical-align:middle;
}
@keyframes nav-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}